<ion-content class="content centered-content">
  <img src="../../../assets/img/logo-letras.png" alt="logo app" class="logo-letras">
  <img src="../../../assets/img/logo-skyalert.png" alt="logo app" class="logo-icon">

    <!-- Nubes animadas -->
    <img src="../../../assets/img/nube1.png" alt="nube 1" class="cloud cloud-left">
    <img src="../../../assets/img/nube2.png" alt="nube 2" class="cloud cloud-right">
    <img src="../../../assets/img/nube3.png" alt="nube 3" class="cloud cloud-bottom">
</ion-content>
